# 1. Print Hello, World!

In [2]:
# 1. Print Hello, World!

my_string = "Hello, World!"
print(my_string)

Hello, World!

# 2. Given an integer, , perform the following conditional actions:
"""If n is odd, print Weird
If n is even and in the inclusive range of 2 to 5, print Not Weird
If n is even and in the inclusive range of 6 to 20 , print Weird
If n is even and greater than 20 , print Not Weird"""

In [3]:
n = int(input("enter the number: "))
if not (1<=n<=100):
  print("Enter the valid number")
else:
  if n%2!=0:
    print("Weird")
  elif 2<=n<=5:
      print("Not Weird")
  elif 6<=n<=20:
      print("Weird")
  else:
      print("Not Weird")

enter the number: 5
Weird

#3. The provided code stub reads two integers from STDIN, a and b . Add code to print three lines where:

"""The first line contains the sum of the two numbers.
The second line contains the difference of the two numbers (first - second).
The third line contains the product of the two numb"""

In [4]:
5a = int(input())
b = int(input())
print(a+b)
print(a-b)
print(a*b)

5
5
10
0
25

#4. The provided code stub reads two integers, a  and b, from STDIN.
""" Add logic to print two lines. The first line should contain the result of integer division,  a// b. The second line should contain the result of float division, a / b.
No rounding or formatting is necessary."""

In [6]:
a = int(input())
b = int(input())
print(a // b)
print(a / b)

5
5
1
1.0

#5. The provided code stub reads an integer, n , from STDIN. For all non-negative integers i<n, print i2.

In [7]:
n = int(input())
for i in range(n):
  print(i**2)

5
0
1
4
9
16

#6. Given a year, determine whether it is a leap year using function

In [8]:
def is_leap(year):
    if year%400 ==0:
        return True
    if year%100==0:
        return False
    if year%4==0:
        return True
    return False

In [9]:
is_leap(2024)

True

#7. Without using any string methods, try to print the following: 123 ...n

In [10]:

n = int(input())
for i in range(1,n+1):
    print(i,end ="")

8
12345678